* {
    margin: 0;
    padding: 0;
}

body {
    background: #eeeeee;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.header__text {
    font-size: 3em;
    text-align: center;
    padding: 1.25rem 0;
}

.container {
    width: 90%;
    max-width: 1000px;
    border: 5px solid black;
    margin: auto;
    font-size: 3.125rem;
    line-height: 3.125rem;
    text-align: center;
}

.container__grids {
    display: block;
    padding: 1.25em;
    color: white;
    background: #2f89fc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
}

/* https: //www.youtube.com/watch?v=3m3g_ppRH24&list=PLhSj3UTs2_yWsFd43wpLog5HUFzDgIbWj&index= */
/* minuto 5.00 */